@media screen and (max-width: 1320px) {
    section > section,
    header > section,
    footer > section,
    .white_background_section,
    .yellow_background_section {
        margin: 0 auto;
        width: 90%;
    }
    .purple_background_section {
        padding: 144px 52px 187px 52px;
    }
    /* footer */
    .social_media {
        justify-content: left !important;
    }
    
    .bottom {
        margin: 0;
        margin-top: 44px !important;
        gap: 30px;
        justify-content: end !important;
        p {
            max-width: 672px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.08px;
        }
        h5 {
            margin-top: 16px;
        }
    }
    .bottom {
        width: 100%;
        justify-content: space-between !important;
        p {
            max-width: 672px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.08px;
        }
        h5 {
            margin-top: 16px;
        }
    }
}
@media screen and (max-width: 1200px) {
    @media screen and (max-width: 1069px) {
        .top_image_family {
            display: none;
        }
        .yellow_background_section {
            gap: 80px;
        }
    }
    @media screen and (max-width: 799px) {
        .yellow_background_section {
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 630px) {
        .white_background_section_type2 {
            align-items: center;
            flex-direction: column;
            gap: 32px;
            div {
                width: 160px;
                height: 1px;
            }
            article {
                width: auto;
            }
            h3 {
                margin: 0;
            }
        }
        .phone_image_container {
            display: none;
        }
        .text_container_50_width {
            width: 100%;
        }
        .main_color_background_section article {
            min-height: 400px;
        }
        .social_media {
            width: 100%;
        }
    }
    @media screen and (max-width: 560px) {
        nav {
            display: none;
            gap: 25px;
        }
        .hamburger {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 33%;
        }
        .show-menu {
            border-radius: 8px;
            padding: 20px 50px;
            background: #fff;
            position: absolute;
            top: 100px;
            right: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
    }
    @media screen and (max-width: 447px) {
        .container_top {
            padding-bottom: 50px;
        }
    }
    .white_background_section {
        padding: 86px 15%;
        p {
            font-size: 18px;
            margin-bottom: -14px;
        }
    }
}